/* body global======================================================= */
* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}
html{
    background-color: #f3f3f3;
}

.empty {
    clear: both;
    height: 0px;
    margin: 0px;
    padding: 0px;
}

/* loginframe define==================================================*/
.loginframe{
    background: #e01616;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    display: none;
}





/* web head toparea====================================================*/
.header{
    width:100%;
    height: 160px;
    background: #689ada;
}
.header h1 {
    color: white;
    font-size: 50px;
}


/* web body=============================================================*/
.body {
    width: 80%;
    right: 0px;
    left: 0px;
    background-color: white;
    margin: auto;
}

.body .left {
    float: left;
    width: 202px;
    background-color: whitesmoke;
}

.body .right {
    float: left;
    width: calc(100% - 203px);
}
/*body left==================*/
ul.navigate {
    list-style: none;
    text-align: center;
}
ul.navigate li {
    position: relative;
    width: 202px;
    height: 102px;
    border: thin dotted rgba(128, 128, 128, 0.281);
}
@keyframes fanzhuan {
    0%{
        transform: rotateX(0deg);
    }
    50%{
        transform: rotateX(180deg);
    }
    100%{
        transform: rotateX(360deg);
    }
}

ul.navigate img{
    display: block;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    border-width: 1px;
    border: thin inset black;
}

ul.navigate p {
    font-size: 40px;
    color: rgba(0, 0, 0, 0.356);
}
ul.navigate a{
    float: left;
    width: 202px;
    height: 102px;
}
ul.navigate >li >a{
    position: absolute;
    left: 0px;
    top: 0px;
    animation-name: fanzhuan;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
ul.navigate div{
    display: none;
}
ul.navigate li:hover div{
    top: 0px;
    display: block;
    position: absolute;
    width: 1000px;
    margin-left: 202px;
}
/*body right==============*/
.body .right >ul {
    list-style: none;
}
.body .right .tabbar{
    height: 30px;
    background-color: green;
    padding-left: 7px;
}
.body .right .tabbar li{
    display: inline;
    font-size: 19px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}



/* web footer=======================================*/
.footer {
    clear: both;
    background: #f3f3f3;
    margin-top: 50px;
    width: 100%;
}
div.footer > ul {
    display: block;
    list-style: none;
    float: left;
    width: 20%;
    text-align: center;
}
div.footer >div.constract h4 {
    float: left;
    padding: 30px;
}
div.footer >div.constract a {
    float: right;
    padding: 30px;
}